<h1>Login</h1>
<form method="post" action="/users/login">
  <p>
    <label>Email:</label>
    <input type="email" name="email" required>
  </p>
  <p>
    <label>Password:</label>
    <input type="password" name="password" required>
  </p>
  <p>
      Not have an account? <a href='/register'>Registes Now</a>
  </p>
  <p>
    <input type="submit" value="Login">
  </p>
