<h1>Register</h1>
<form method="post" action="/users/register">
  <p>
    <label>name:</label>
    <input type="text" name="name" required>
  </p>
  <p>
    <label>Email:</label>
    <input type="email" name="email" required>
  </p>
  <p>
    <label>Password:</label>
    <input type="password" name="password" required>
  </p>
  <p>
       Already have account? <a href='/login'>Login</a>
    </p>
  <p>
    <input type="submit" value="Register">
  </p>
